<div class="size-full flex flex-col items-center justify-center">
  <div class="rounded-2xl overflow-hidden size-fit max-w-[80%]">
    <!-- Container único para header e rows - COM SCROLL -->
    <div class="max-h-[400px] overflow-auto hub-scrollbar w-full rounded-2xl">
      <!-- Cabeçalho da tabela - STICKY -->
      <div class="flex font-semibold text-gray-700 w-full sticky top-0 z-10">
        @for (col of columnKeys; track col; let colIndex = $index) {
          <div
            class="py-2 text-center border-b border-sintese/30 bg-black"
            [style.min-width]="col.width"
            [style.max-width]="col.width"
            [ngClass]="{
              'border-l border-secondary/30': colIndex > 0,
            }"
          >
            <p class="drop-shadow-[0_0_6px_rgba(0,0,255,0.7)] text-sintese-light">
              {{ columnMap[col.name] }}
            </p>
          </div>
        }
      </div>

      <!-- Linhas da tabela -->
      @for (row of leads; track $index) {
        @let idx = $index;
        <div class="flex w-full">
          @for (col of columnKeys; track col; let colIndex = $index) {
            <div
              class="size-full px-3 py-2 center-or-truncate cursor-pointer"
              [style.min-width]="col.width"
              [style.max-width]="col.width"
              [ngClass]="{
                'bg-black': idx % 2 === 1,
                'bg-black-secondary': idx % 2 !== 1,
                'is-long': isValueLong(getValue(row, col.name)),
                'border-l border-secondary/30': colIndex > 0,
              }"
              (mouseenter)="
                onMouseEnter($event, getValue(row, col.name), isValueLong(getValue(row, col.name)))
              "
              (mouseleave)="onMouseLeave()"
              (mousemove)="onMouseMove($event)"
            >
              {{ getValue(row, col.name) }}
            </div>
          }
        </div>
      }
    </div>
  </div>

  <!-- Tooltip -->
  @if (tooltipVisible()) {
    <div class="tooltip" [style.left.px]="tooltipPosition.x" [style.top.px]="tooltipPosition.y">
      {{ tooltipText }}
    </div>
  }
</div>
